*{
    margin: 0;
    padding: 0;
}
body{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: sans-serif;
}
.title_container{
    padding: 10px 20px;
    font-size: 40px;
    text-align: center;
}
.container{
    height: 200px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label_container,
.input_containers,
.container_btn{
    display: flex;
    justify-content: space-between;
}
.container_btn{
    margin-top: 20px;
}
.labels_container{
    width: 20%;
    text-align: center;
    font-size: 30px;
    padding: 5px 10px;
}
.container_input_time{
    border: none;
    font-size: 50px;
    width: 90px;
    height: 50px;
    outline: none;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.input_containers{
    font-size: 30px;
    margin: 0;
    padding: 5px 10px;
}

.btn{
    width: 48%;
    height: 50px;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.start{
    background-color: green;
}

.stop{
    display: none;
    background-color: orange;
}

.reset{
    background-color: orangered;
}